<!DOCTYPE html>
<html>
<head>
    <title>Conway's Game</title>
    <link rel='stylesheet' href='stylesheets/style.css' />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="javascripts/conway.js"></script>
    <script src="javascripts/canvasColor.js"></script>
</head>
<body>
{{{body}}}
</body>
</html>
